
.toogle{
    visibility: hidden;
}
.toogle + label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text_color);
    
}
.toogle + label::before{
    
    content: '';
    height: 25px;
    width: 45px;
    border-radius: 15px;
    background-color:var(--toogle_bg);
    margin-right: 0.5em;
}
.toogle + label::after{
   content: '';
   width: 21px;
   height: 21px;
   border-radius: 50%;
   background-color: var(--toogle_fg);
   position: absolute;
   left: 2px;
   transition: 0.4s ease-in-out;
}
.toogle:checked + label::after{
    transform: translateX(92%);
    right: 2px;
}